@model ContactManagementSystem26_10_17.RegisterOwnerDataBase.User
@{
    ViewBag.Title = "ForgotPassword";
}

<h2>ForgotPassword</h2>



@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            <label class="control-label col-md-2">Enter New Password:</label>
            <div class="col-md-10">
                <input type="password" name="password" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Change Password" class="btn btn-default" />
            </div>
        </div>
    </div>
}