@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Error In Email Verification</title>
</head>
<body>
    <div>
        <h2 style="font-family:Arial">Email is Not Verified.</h2>
    </div>
</body>
</html>
