@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Oops</title>
</head>
<body>
    <div>
        <h2 style="font-family:Arial">Oops Something Went Wrong.</h2>
    </div>
</body>
</html>
