@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>SuccessFully Verified</title>
</head>
<body>
    <div>
        <h2 style="font-family:Arial">Email is Verified SuccessFully.</h2>
    </div>
</body>
</html>
